<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Reg-Suite" >
<listeners>
	<listener class-name=""/>
</listeners>
  <test name="New-Test">
      <parameter name="rowNum" value="2"/>
    <classes>
      <class name=""/>
    </classes>
  </test>
</suite> 